# Google OAuth client ID (Web application) from https://console.cloud.google.com
VITE_GOOGLE_CLIENT_ID=xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com

# Microsoft Entra app (client) ID, platform "Single-page application", from https://entra.microsoft.com
VITE_MICROSOFT_CLIENT_ID=00000000-0000-0000-0000-000000000000
