# Google OAuth client ID (Web application) from https://console.cloud.google.com
# You can also paste it into the app's settings panel instead of using this file.
VITE_GOOGLE_CLIENT_ID=xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
